<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>

  <button class="btn btn-default" type="button" id="login-button" onclick="ToggleSignIn()">
    Sign In
  </button>

  <!-- the classes 'page-header' and 'btn btn-default' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
    <h1>Message Board</h1>
  </div>

  <p id="demo">
    Click for Doge
  </p>
  
  <button class="btn btn-default" type="button" onclick="myFunction()">
    Try it
  </button>

  <div id="doge-image"/>

  <form action="/action_page.php">
    Post Title:<br>
    <input type="text" name="post-title" id="post-title"><br>
    Post Body:<br>
    <input type="text" name="post-body" id="post-body"><br>

  <button class="btn btn-default" type="button" id="submit" onclick="SubmitMessageForm()">
    Submit
  </button>

  </form>

  <div id="stream"></div>

</body>

</html>